<!DOCTYPE html>
<html>
  <head>
    <title><%= className %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>hello  <%= className %>，welcome！</h1>
  <!--<p>hello  <%= className %>，welcome！</p>-->
    <a href="/home">首页</a>
    <a href="/repair">维修页</a>
  </body>
</html>
