<!DOCTYPE html>
<html>
  <head>
    <title><%= className %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= className %></h1>
    <p>Welcome to <%= className %></p>
  </body>
</html>
