<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>360同城帮维修</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../stylesheets/repair.css"/>
		<script type="text/javascript" src="/javascripts/jquery-3.1.0.js" ></script>
		<script type="text/javascript" src="/javascripts/repair.js"></script>
		<script src="/javascripts/jquery-2.1.1.js"></script>
    	<script src="/javascripts/jquery.autocomplete.min.js"></script>
	</head>
	<body>
		<div class="mod_onlinecons">
			<button></button>
		</div>
		<div class="mod_topbar">
			<div class="top">
				<ul>
					<li>北京<a href="">[切换城市]</a></li>
					<li><a href="http://localhost:3000/home">同城帮首页</a></li>
				</ul>
				<ul>
					<li><a href="#">登录</a></li>
					<li><a href="#">注册</a></li>
					<li><a href="#">我的订单</a></li>
					<li>客服电话:4000-399-360</li>
					<li>客户服务<span></span>
						<div class="mydiv">
							<p>客户服务<span></span></p>
							<p><a href="#">帮助中心</a></p>
							<p><a href="#">维修付款</a></p>
						</div>
					</li>
					<li><a href="#">论坛</a></li>
					<li><a href="#">投诉建议</a></li>
				</ul>
			</div>
		</div>
		<div class="mod_banner">
		</div>
		<div class="clearfix">			
		</div>
		<div class="mod_box">
			<figure>
				<div class="img"></div>
				<p>系统重装</p>
			</figure>
			<figure>
				<div class="img"></div>
				<p>电脑清灰</p>
			</figure>
			<figure>
				<div class="img"></div>
				<p>数据恢复</p>
			</figure>
			<figure>
				<div class="img"></div>
				<p>系统故障修复</p>
			</figure>
			<figure>
				<div class="img"></div>
				<p>驱动安装</p>
			</figure>
			<figure>
				<div class="img"></div>
				<p>游戏加速</p>
			</figure>
		</div>
		<div class="mod_butt">
			<div class="butt">
			<button>开机加速</button>
			<button>网速优化</button>
			<button>蓝屏死机</button>
			<button>电脑没声音</button>
			<button>路由器调试</button>
			<button>无法上网</button>
			<button>家庭局域网</button>
			<button>更换风扇</button>
			<button>病毒查杀</button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="mod_content">			
			<div class="shop">				
				<div class="list">
					<div class="position">
					<select name="">
						<option value="">请选择</option>
					</select>
					<select name="">
						<option value="">请选择</option>
					</select>
					<input type="search" name="content" placeholder="输入您的位置查找附近的商家" results="s" style="cursor:help;outline:none;" id="autocomplete"/>
					<button>搜索</button>
				</div>
					<div class="list_head">
				<ul>
					<li><span></span>默认排序</li>
					<li><span></span>按成交量</li>
					<li><span></span>按人气</li>
					<li>
						<input type="checkbox" name="" id="beforepay" value=""/><label for="beforepay">先行赔付</label>
						<button>地图模式</button>						
					</li>
				</ul>
			</div>
			<div class="list_content">
				<ul id="list">
					<!-- <li>				
					<img src="../images/shuntongdiannao.jpg"/>
					<div class="content_1">
						<h4>顺通电脑维修        <span>店铺等级:</span><i></i><i></i></h4>
						<p>主营:电脑维修，电脑周边配件，系统维护，网络安装</p>
						<p>地址:北京通州区果园环岛葛布店北里10号楼底商</p>
					</div>
					<div class="content_2">
						<p><span></span>先行赔付</p>
						<p><span></span>同城帮认证</p>
						<p>人气:84281次浏览</p>
					</div>
					<button>进入店铺</button>		
					</li> -->
					
				</ul>	
				<ol>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li>10</li>
				</ol>					
			</div>
			</div>
			<div class="rank">
				<h3>商家好评榜</h3>
				<ul id="list2">
					
					
				</ul>
			</div>
			</div>				
		</div>
		<div class="clearfix">			
		</div>
		<div class="clearfix"></div>
		<div class="mod_footer">			
			<div class="footer_1">
				<div class="footer_box">
					
				
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				</div>
			</div>
			<div class="address">
				<p>客服电话  :  400-399-360   投诉建议   网站地图</p>
				<p>Copyright©  2005-2016  360.CN  ALL Rights Reserved  360安全中心</p>
				<p>京ICP备08010314号-19 京公网安备110000000006</p>
			</div>
		</div>
	</body>
</html>
