<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>360同城帮顺通</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
		 <link rel="stylesheet" type="text/css" href="/stylesheets/shop.css"/> 
		 <script type="text/javascript" src="/javascripts/jquery-3.1.0.js" ></script>
		 <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=13d3c320f0267af8e549edd2ee5d6e85"></script>
		<script type="text/javascript" src="/javascripts/shop.js"></script>
	</head>
	<body>
		<div class="mod_topbar">
			<div class="top">
				<ul>
					<li>北京<a href="">[切换城市]</a></li>
					<li><a href="http://localhost:3000/home">同城帮首页</a></li>
				</ul>
				<ul>
					<li><a href="#">登录</a></li>
					<li><a href="#">注册</a></li>
					<li><a href="#">我的订单</a></li>
					<li>客服电话:4000-399-360</li>
					<li>客户服务<span></span>
						<div class="mydiv">
							<p>客户服务<span></span></p>
							<p><a href="#">帮助中心</a></p>
							<p><a href="#">维修付款</a></p>
						</div>
					</li>
					<li><a href="#">论坛</a></li>
					<li><a href="#">投诉建议</a></li>
				</ul>
			</div>
		</div>
		<header class="mod_header">
			<div class="con">
			<h1><a href="http://localhost:3000/home">360同城帮</a></h1>
			<ul>
				<li>北京</li>
				<li>[切换城市]</li>
			</ul>
			<div class="search">
				<ol>
					<li>全部</li>
					<li>台式机</li>
					<li>笔记本</li>
					<li>手机平板</li>
					<li>办公设备</li>
					<li>服务器</li>
				</ol>
				<input type="text" placeholder="输入您的电脑手机问题，为您找到最优质的维修商"/>
				<button>搜  索</button>
			</div>
			</div>
		</header>
		<div class="clearfix"></div>
		<div class="mod_banner">
			<img src="/images/shuntongdiannao.jpg" alt="" />
			<div class="banner_1">
				<h3>顺通电脑维修<span></span></h3>
				<ul>
					<li><span></span>360担保交易</li>
					<li><span></span>无效退款</li>
					<li><span></span>先行赔付</li>
				</ul>
				<p>联系人  : 李凤东     电话  : <span>180*****513</span> <a href="#">查看完整号码></a></p>
				<p>商家地址:北京通州区果园环岛葛布店北里10号楼底商<a href="#">地图</a></p>
			</div>
			<div class="banner_2">
				<ul>
					<li><span></span>分享</li>
					<li><span></span>发至手机</li>
					<li><span></span>举报</li>
				</ul>
				<p>店铺等级</p>
				<p>最近成交 :   <span>111077</span>  次   评价:  109497条</p>
				<p>营业时间 : 09:00-20:00   周末正常营业</p>
			</div>
		</div>
		<div class="mod_annou">
			<h3>店铺公告  :</h3>
			1. <span>固态硬盘会大幅提高速度，正在火热更换中！</span>
		</div>
		<div class="mod_main">
			<div class="list">
				<div class="list_top">
					<ul>
						<li>商品列表</li>
						<li>交易评价</li>
						<li>本店详情</li>
						<li>服务保障</li>
						<input type="search" name="content" placeholder="搜索本地服务" results="s" style="cursor:help;outline:none;" />
						<button>搜索</button>
					</ul>
				</div>
				<div class="list_head">
					<ul>
						<li>全部<span>(25)</span></li>
						<li>台式机<span>(4)</span></li>
						<li>笔记本<span>(2)</span></li>
						<li>企业服务<span>(1)</span></li>
						<li>其他<span>(13)</span></li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<div class="list_content">
					<div class="content">
					<ul id="list">
						
					</ul>
					</div>
					<div class="buttom">
						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>下一页>></li>
						</ul>
					</div>
				</div>
				<div class="usersay">
				<h3>用户评价</h3>
				<div class="user">
				<ul>
				
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>
				<li>
					<figure>
						<img src="/images/user1.jpg"/>
						<p>360U374454662</p>
					</figure>	
					<div class="user_1">
						<p><span></span>5分</p>
						<p>师傅人品不错，讲解的很耐心！</p>
						<p>2015-11-10  13:16:32 | 上门维修电脑</p>
					</div>
					<p class="p">订单号 : 151110132******4624</p>
				</li>				
			</ul>
			</div>
			<div class="userbuttom">
				<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>下一页>></li>
				</ul>
			</div>
			</div>
			<div class="description">
				<h3>店铺详情</h3>
				<ul>
					<li>主营</li>
					<li>电脑维修，电脑周边配件，系统维护，网络安全，打印机加粉</li>
				</ul>
				<ul>
					<li>服务区域</li>
					<li><button>玉桥</button><button>乔庄</button><button>运河大桥</button><button>梨园</button><button>东关</button><button>中仓</button></li>
				</ul>
				<ul>
					<li>地址</li>
					<li>北京通州区果园环岛葛布店北里10号楼底商(<a href="#">查看地图</a>)</li>
				</ul>
				<ul>
					<li>公告</li>
					<li>1.<span>电脑维修，电脑周边配件，系统维护，网络安全，打印机加粉</span></li>
				</ul>
			</div>
			<div class="serve">
				<h3>服务保障</h3>
				<img src="/images/serve.jpg"/>
			</div>
			</div>			
			<div class="section">
				<h3>欢迎关注我的微店</h3>
				<img src="/images/weidain.jpg" class="img"/>
				<div id="container">
					<!-- <img src="/images/chakandatu.jpg"/> -->
				</div>
				<a href="#">查看大图</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="mod_footer">			
			<div class="footer_1">
				<div class="footer_box">
					
				
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				<div>
					<h4>购物指南</h4>
					<p>购物流程</p>
					<p>用户注册</p>
					<p>帮助文档</p>
				</div>
				</div>
			</div>
			<div class="address">
				<p>客服电话  :  400-399-360   投诉建议   网站地图</p>
				<p>Copyright©  2005-2016  360.CN  ALL Rights Reserved  360安全中心</p>
				<p>京ICP备08010314号-19 京公网安备110000000006</p>
			</div>
		</div>
	</body>
</html>
