@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
/*html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }*/
fieldset, img { border:none; }

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
body { color:#666666; font:13px microsoft yahei,微软雅黑; background:#fff;/* overflow-y:scroll;*/ overflow-x:hidden;}
a { color:#666; text-decoration:none; }
a:visited { color:#666; }
a:hover, a:active, a:focus {text-decoration:underline; }
.clearfix:after{content: ".";clear: both;display: block;
height: 0;visibility: hidden;}
